body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: bold;
}
a {
	color: inherit;
	text-decoration: none;
}

h1,
h2 {
	font-weight: 600;
}

button,
#save-button {
	border: none;
	background: none;
}

/* NAVBAR */
#nav-container {
	margin: 0;
	padding: 0;
	border-bottom: solid 2px #eeeeee;
}

#frame {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-areas: "col1 col2 col3";
}

#frame > button {
	grid-area: col1;
	justify-self: start;
	margin: 0;
	padding: 0 20px;
	font-size: 40px;
}

button:hover,
#save-button:hover {
	cursor: pointer;
	background-color: blueviolet;
	color: white;
}

#header-container {
	grid-area: col2;
	margin: 10px 0;
	text-align: center;
}

#slogan {
	flex: 1;
	text-align: center;
	margin: 0;
	color: gray;
	font-size: small;
}

/* PAGE CONTENT */
#layout-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

#content {
	flex: auto;
	display: flex;
	flex-direction: row;
}

/* SIDEBAR */
#sidebar-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

#sidebar-container.hidden {
	display: none;
}

#sidebar-header {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 2px #eeeeee;
}

#sidebar-header > h2 {
	margin: auto 15px;
	text-align: center;
}

#sidebar-header > button {
	margin: 0;
	padding: 10px 20px;
	font-size: 30px;
}

#sidebar-content {
	flex: 1;
}

/* BLANK */
#empty-notes {
	margin: 15px;
	text-align: center;
	color: gray;
	font-size: small;
}

/* EDITOR */
#note-container {
	flex: 3;
	display: flex;
	flex-direction: column;
	border-left: solid 2px #eeeeee;
	border-radius: 5px;
}

/* VIEWER */
form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#view-tools,
#note-head-container {
	flex: auto;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 2px #eeeeee;
	margin: 0;
}

#note-info {
	flex: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 15px 10px 10px 15px;
}

/* maybe remove this after editor is made */
#note-info > h2 {
	flex: 1;
	padding: 15px 10px 5px 15px;
}

#note-date {
	text-align: left;
	padding: 0 10px 15px 15px;
	color: gray;
	font-size: 75%;
}

#note-buttons {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

#note-buttons > * {
	height: 100%;
	padding: 0 10px;
}

/* #save-button {
	background: none;
	border: none;
} */

#note-title {
	margin: 0;
	padding: 0;
	border: none;
}

#note-title {
	font-size: 26px;
}

#note-title:focus {
	outline: none;
}

#date {
	width: fit-content;
	padding-top: 10px;
	border: none;
}

/* TEXT EDITOR STYLES */
#text-editor {
	flex: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.quill {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	flex: 1;
}

.ql-toolbar.ql-snow {
	flex: 0;
	border: none !important;
	border-bottom: solid 2px #eeeeee !important;
}

#text-editor > div > div.ql-container.ql-snow {
	border: 0;
}

#text-editor > div > div.ql-container.ql-snow > div.ql-editor > p {
	font-weight: 400;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
	font-weight: 500;
	color: gray;
}
